:root {
  --background: #1A1B25;
  --background2: #1e1e1e;
  --background-text: #ffffff;
  --secondary-color: #9db0fc;
  --secondary-text: #000000;
  --output-text: #1A1B25;
}
@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
        format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
  }
  html{
    height: 100%;
    overflow: auto;
    background: linear-gradient(var(--background), var(--background2));
  }
  main,
  input {
    font-size: 16px;
    line-height: 24px;
    color: var(--background-text);
    font-family: "ColfaxAI", Helvetica, sans-serif;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  .icon {
    width: 80px;
  }
  h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    color: var(--background-text);
    margin: 16px 0 40px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 320px;
  }
  input[type="text"] {
    padding: 12px 16px;
    color: var(--secondary-text);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    margin-bottom: 24px;
  }
  ::placeholder {
    color: #8e8ea0;
    opacity: 1;
  }
  input[type="submit"] {
    padding: 12px 0;
    color: var(--secondary-text);
    background-color: var(--secondary-color);
    font-weight: bold;
    border: none;
    border-radius: 4px;
    text-align: center;
    transition: .35s all ease;
  }
  .result{
    font-weight: bold;
    margin-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 0px;
    padding: 40px;
    box-shadow: 0px 0px 5px 5px #cce7f765;
    background-color: var(--background-text);
    color: var(--output-text);
  }
.result-title{
    color: var(--output-text);
    margin: 0px;
  }

  input[type="submit"]:hover {
    transform: scale(1.1);
    background-color: #f7cce8;
  }