<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_path_for('static', path='video.png') }}"
  />
  <link rel="stylesheet" href="{{ url_path_for('static', path='main.css?v={{ datetime.utcnow().timestamp() }}') }}" />
  <link rel="stylesheet" href="{{ url_path_for('static', path='menu.css?v={{ datetime.utcnow().timestamp() }}') }}" />
</head>

<body>
  <header>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul> 
    </nav>
  </header>
  <main>
    <img src="{{ url_path_for('static', path='video.png') }}" class="icon" />
    <h3>About</h3>
    <p>todo.</p>
  </main>
</body>