<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_path_for('static', path='video.jpg') }}"
  />
  <link rel="stylesheet" href="{{ url_path_for('static', path='main.css?v={{ datetime.utcnow().timestamp() }}') }}" />
  <link rel="stylesheet" href="{{ url_path_for('static', path='menu.css?v={{ datetime.utcnow().timestamp() }}') }}" />
</head>

<body>
  <header>
    <nav>
      <ul class="menu">
        <li><a href="/"><span>Home</span></a></li>
        <li><a href="/about"><span>About</span></a></li>
      </ul> 
    </nav>
  </header>
  <main>
    <img src="{{ url_path_for('static', path='video.jpg') }}" class="icon" />
    <h3>Video URL</h3>
    <form action="/" method="post">
      <input type="text" name="videoURL" placeholder="Enter a video URL" required />
      <input class="btn bt1" type="submit" value="What does people think?" />
    </form>
    {% if result %}
    
    <div class="result">
      <h3 class="result-title">Output:</h3>
      {{ result }}
    </div>
    {% endif %}
  </main>
</body>